.cover__link {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.cover__link::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2a2c2f;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.cover__link:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__link {
        min-height: 740px;
    }
}