.place__website_url-heading {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #aaaaaa;
}

@media screen and (max-width: 767px) {
    .place__website_url-heading {
        padding-left: 16px;
    }
    
}