.lead__subtitle {
    padding-top: 32px;
    margin: 0 auto;
    max-width: 600px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        padding-top: 16px;
        max-width: 288px;
        font-size: 16px;
        line-height: 1.25;
    }
}