.footer {
    margin: 0;
    padding: 88px 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 64px 16px 24px;
        flex-direction: column;
        justify-content: start;
    }
    
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
    }
    
}