.header__lang-links {
    margin: 0;
    padding: 18px 0 6px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header__lang-links li:first-child > a {
    text-decoration: underline;
    margin-right: 18px;
    text-underline-offset: 3px;
}